.container {
  background-color: white;
}
.home-card-button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 10px 110px;

  border-radius: 10px;
  margin-bottom: 25px;
}

.content-busca {
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-content-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 275px;
}

.home-content-button input {
  width: 199px;
  height: 40px;
  border: 0;
  border-color: aliceblue;
  border-radius: 5px 0 0 5px;
  font-size: 14px;
}

.home-content-button button {
  width: 77px;
  height: 40px;
  font-size: 14px;
  border-radius: 0 5px 5px 0;
}

@media (min-width: 576px) {
  .home-content-button {
    width: 500px;
  }

  .home-content-button button {
    width: 174px;
  }
  .home-content-button input {
    width: 320px;
  }
}

@media (min-width: 768px) {
  .home-content-button {
    width: 690px;
    justify-content: center;
  }

  .home-content-button button {
    width: 174px;
  }
  .home-content-button input {
    width: 516px;
  }
}

@media (min-width: 992px) {
  .home-content-button {
    width: 752px;
  }

  .home-content-button button {
    width: 174px;
  }
  .home-content-button input {
    width: 584px;
  }
}

@media (min-width: 1280px) {
  .container {
    padding: 10px 80px;
  }
}

@media (min-width: 1440px) {
  .container {
    padding: 10px 170px;
  }
}
